<!DOCTYPE html>
<html data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .table>:not(caption)>*>*{
        padding: .3rem .3rem !important;
        text-align: center;
      }
    </style>
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>
    <%- include('beverages.ejs') %>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <%- include('navbar.ejs') %>
      <div>
        <div class="">
          <h2 class="mb-4" id="product-count" ></h2>
         
          <div id="lealsTable" data-list='{"valueNames":["name","email","phone","contact","company","date"],"page":10,"pagination":true}'>
           
            <div  class="table-responsive scrollbar mx-n1 px-1 border-top border-translucent">
              <table class="table fs-9 mb-0 leads-table">
                <tbody id="daily-machine-dhaval" class="list">
              
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x" style="z-index: 9999999">
      <div id="myToast" class="toast hide" role="alert" aria-live="assertive" >
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
          <strong class="me-auto" id="toast-status" ></strong>
          <!-- <small>11 mins ago</small> -->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-message" >
          
        </div>
      </div>
    </div>
    <script>
      $('#navbarDefault').remove()
      $('#top').find('nav').remove()
      $('.setting-toggle').remove()
    </script>
    <script src="/javascripts/daily-machine-report.js" ></script>
  </body>
</html>