<!DOCTYPE html>
<html data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .table>:not(caption)>*>*{
        padding: .3rem .3rem !important;
        text-align: center;
      }
    </style>
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>
    <%- include('beverages.ejs') %>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <%- include('navbar.ejs') %>
      <div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Daily Report</li>
          </ol>
        </nav>
        <div class="pb-6">
          <h2 class="mb-4" id="product-count" ></h2>
          <div id="lealsTable" data-list='{"valueNames":["name","email","phone","contact","company","date"],"page":10,"pagination":true}'>
            <div class="row g-3 justify-content-between mb-4">
              <div class="col-auto">
                <div class="d-flex">
                  <div class="flatpickr-input-container me-2"><input class="form-control ps-6 datetimepicker" data-date="" id="datepicker" type="text"  />
                    <span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                  </div>
                </div>
              </div>  
            </div>
            <div class="table-responsive scrollbar mx-n1 px-1 border-top border-translucent">
              <table class="table fs-9 mb-0 leads-table">
                <thead>
                  <tr>
                    <th colspan="5" class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <p style="margin: 4px !important;" >MACHINE NAME </p>
                    </th>
                    <th colspan="4" class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <p style="margin: 4px !important;" >MORNING UNIT</p>
                    </th>
                    <th colspan="4" class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <p style="margin: 4px !important;" >CLOSE UNIT</p>
                    </th>
                    <th colspan="4" class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <p style="margin: 4px !important;" >USE UNIT</p>
                    </th>
                  </tr>
                </thead>
                <tbody class="list">
                  
                  <tr>
                    <td colspan="17" style="text-align: center;" class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>DAY</b>
                    </td>
                  </tr>

                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>08:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>09:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>10:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>11:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>12:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>13:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>14:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>15:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>16:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>17:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>18:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>19:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      SHOT
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      REJETION
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      TOTAL
                    </td>
                  </tr>

                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      PP-BINS
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                  </tr>

                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      WORKER
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                  </tr>

                  
                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      REASON
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                  </tr>

                  <tr>
                    <td colspan="17" style="text-align: center;" class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>NIGHT</b>
                    </td>
                  </tr>

                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>20:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>21:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>22:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>23:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>24:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>01:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>02:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>03:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>04:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>05:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>06:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      <b>07:00</b>
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      SHOT
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      REJETION
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      TOTAL
                    </td>
                  </tr>

                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      PP-BINS
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                  </tr>

                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      WORKER
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                  </tr>

                  
                  <tr>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      REASON
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                      
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                    <td  class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                  
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="row align-items-center justify-content-end py-4 pe-0 fs-9">
              <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
              </div>
              <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x" style="z-index: 9999999">
      <div id="myToast" class="toast hide" role="alert" aria-live="assertive" >
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
          <strong class="me-auto" id="toast-status" ></strong>
          <!-- <small>11 mins ago</small> -->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-message" >
          
        </div>
      </div>
    </div>
    <script src="/javascripts/daily-machine-report.js" ></script>
  </body>
</html>