<!DOCTYPE html>
<html data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>
    <%- include('beverages.ejs') %>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <%- include('navbar.ejs') %>
      <div class="content">
        <div class="row gy-3 mb-4 justify-content-between">
          <div class="col-xxl-6">
            <h2 class="mb-2 text-body-emphasis">Yash Industries</h2>
            <h5 class="text-body-tertiary fw-semibold mb-4">Check your business growth in one place</h5>
            <div class="row g-3 mb-3">
              <div class="col-sm-6 col-md-6 col-xl-6 col-xxl-6">
                <a style="text-decoration: none;" href="/customer">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex d-sm-block justify-content-between">
                        <div class="border-bottom-sm border-translucent mb-sm-4">
                          <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center icon-wrapper-sm shadow-primary-100" style="transform: rotate(-7.45deg);">
                              <!-- <span class="fa-solid fa-phone-alt text-primary fs-7 z-1 ms-2"></span> -->
                              <span class="fs-4 lh-1 uil uil-users-alt text-primary"></span>
                            </div>
                            <p class="text-body-tertiary fs-9 mb-0 ms-2 mt-3">Customers</p>
                          </div>
                          <p class="text-primary mt-2 fs-6 fw-bold mb-0 mb-sm-4">3 <span class="fs-8 text-body lh-lg">Leads Today</span></p>
                        </div>
                        <div class="d-flex flex-column justify-content-center flex-between-end d-sm-block text-end text-sm-start"><span class="badge badge-phoenix badge-phoenix-success fs-10 mb-2">+24.5%</span>
                          <p class="mb-0 fs-9 text-body-tertiary">Than Yesterday</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-6 col-md-6 col-xl-6 col-xxl-6">
                <a style="text-decoration: none;" href="/daily-report">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex d-sm-block justify-content-between">
                        <div class="border-bottom-sm border-translucent mb-sm-4">
                          <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center icon-wrapper-sm shadow-info-100" style="transform: rotate(-7.45deg);">
                              <!-- <span class="fa-solid fa-calendar text-info fs-7 z-1 ms-2"></span> -->
                              <span class="fs-4 lh-1 uil-icons text-primary"></span>
                            </div>
                            <p class="text-body-tertiary fs-9 mb-0 ms-2 mt-3">Daily Report</p>
                          </div>
                          <p class="text-info mt-2 fs-6 fw-bold mb-0 mb-sm-4">12 <span class="fs-8 text-body lh-lg">This Week</span></p>
                        </div>
                        <div class="d-flex flex-column justify-content-center flex-between-end d-sm-block text-end text-sm-start"><span class="badge badge-phoenix badge-phoenix-warning fs-10 mb-2">+24.5%</span>
                          <p class="mb-0 fs-9 text-body-tertiary">Than last week</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-6 col-md-6 col-xl-6 col-xxl-6">
                <a style="text-decoration: none;" href="/machine-report">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex d-sm-block justify-content-between">
                        <div class="border-bottom-sm border-translucent mb-sm-4">
                          <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center icon-wrapper-sm shadow-info-100" style="transform: rotate(-7.45deg);">
                              <!-- <span class="fa-solid fa-calendar text-info fs-7 z-1 ms-2"></span> -->
                              <span class="fs-4 lh-1 uil-icons text-primary"></span>
                            </div>
                            <p class="text-body-tertiary fs-9 mb-0 ms-2 mt-3">Machine Report</p>
                          </div>
                          <p class="text-info mt-2 fs-6 fw-bold mb-0 mb-sm-4">12 <span class="fs-8 text-body lh-lg">This Week</span></p>
                        </div>
                        <div class="d-flex flex-column justify-content-center flex-between-end d-sm-block text-end text-sm-start"><span class="badge badge-phoenix badge-phoenix-warning fs-10 mb-2">+24.5%</span>
                          <p class="mb-0 fs-9 text-body-tertiary">Than last week</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x" style="z-index: 9999999">
      <div id="myToast" class="toast hide" role="alert" aria-live="assertive" >
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#007aff"></rect>
          </svg>
          <strong class="me-auto" id="toast-status" ></strong>
          <!-- <small>11 mins ago</small> -->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-message" >
          
        </div>
      </div>
    </div>
  </body>
</html>