<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <script>
        var url = "https://shubham.ailearning.click/pdf_gen.php?patient_id=3";

        var data = JSON.stringify({
            "helthUrl": url
        });

        console.log(data);

        var settings = {
        "url": "http://93.127.172.39",
        "method": "POST",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },
        "data": JSON.stringify({
            "helthUrl": "https://shubham.ailearning.click/pdf_gen.php?patient_id=4"
        }),
        };

        $.ajax(settings).done(function (response) {
        console.log(response);
        });
    </script>
</body>
</html>